body
{
/*background: #292929;*/
}
form li
{
text-decoration:none;
}
.top-bar
{
background: #fff;
box-shadow: 1px 1px #eee;
}
.top-bar ul.left
{
  margin-left: 5em;
}
.top-bar ul.right
{
   margin-right: 5em;
}
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section ul li,
.top-bar-section .has-form
{
    color:#7c7c7c;
    background: #fff;
}
.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section ul li:hover,
.top-bar-section .has-form:hover
{
    color:#adadad;
    background: #fff;
}
.reveal-modal .close-reveal-modal,
dialog .close-reveal-modal
{
font-size: 1.5em;
font-weight: normal;
}
.fa
{
padding: 0 2px;
margin-right: 4px;
}
.fa-normal
{
font-size: 20px;
}
.perfil
{
border-radius: 5px;
margin-bottom: 2px;
}
.f-dropdown
{
max-width: 130px;
border-radius: 5px;
}
.reveal-modal
{
border-radius:5px;
padding-bottom: 0;
}
textarea
{resize: none;}
.counter
{
margin:11px;
}
.cajas
{
margin-top:1px;
background: #fff;
border-radius: 5px;
list-style: none;
padding: 5px;
margin:-11px;
}
.posts
{
 list-style: none;
  padding-left: 0;
  width: 100%;
margin: 0;
}
.posts li {
  background-color: #fff;
  border-top: 1px solid #eee;
  padding-top: 20px 10px;
  word-wrap: break-word;
  min-height: 42px;
    margin: 6px 12px;
    font-size: 1
        em;
}
.post li:hover
{
background-color: #e0dfdf;
}
.row
{
max-width: 74.5em;
}
h6,h4
{
color:#959595;
margin: 5px 8px;
}
.sugerencias
{
list-style: none;
padding-left: 0;
width: 100%;
margin: 0;
display: -moz-groupbox;
}
.sugerencias li
{
display: -moz-inline-box;
margin: 5px 2px;
}
.nombreUsuario
{
color:#222;
margin: 5px 8px;
}
.seguir
{
background: #fafafa;
color:#222;
border: 1px solid #bebebe;
font-weight: bold;
}
.fa-user
{
color:#3d7fff;
}
