<!DOCTYPE html>
<html class="no-js" lang="es">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog | {{title}}</title>
	<link rel="stylesheet" href="{{STATIC_URL}}skeleton.css">
	<link rel="stylesheet" href="{{STATIC_URL}}base.css">
	<link rel="stylesheet" href="{{STATIC_URL}}layout.css">

</head>

<body>


	{% if not user.is_authenticated %}


		<div class="container">

				<div class="eight columns">

					<h1>MicroBlog</h1>

				</div>

				<div class="four columns">

					<h2>Login</h2>

					<form action="{% url 'usuarios:login' %}" method="POST">{%csrf_token%}

							{{ auth_form.as_ul }}

							<input class="button" type="submit" name="" value="Login" placeholder="">

					</form>


					<h2>Registro</h2>

					<form action="{% url 'usuarios:registro' %}" method="post" accept-charset="utf-8"> {% csrf_token %}

							{{reg_form.as_ul}}

							<input class="button" type="submit" name="" value="Registrar" placeholder="">

					</form>

				</div>

		</div>

	{% else %}

		<div class="container">

    		<div class="five columns">

						<ul>
								<li>

									<h6>Publicar un Nuevo Tweet</h6>

										<form action="{% url 'posts:savepost' %}" method="post" accept-charset="utf-8">{% csrf_token %}
												<input id="id_contenido" name="contenido" type="text" class="form-control status-box" placeholder="What's on your mind?" >
												<input class="button radius right tiny tuit" type="submit" name="" value="Twittear" placeholder="">
										</form>

								</li>


								<li><a href=""></i>Inicio</a></li>
                <li><a href="#"><strong>{{user.first_name}} {{user.last_name}} ({{user.username}})</strong></a></li>
                <li><a href="{% url 'usuarios:logout' %}" title="logout">Cerrar Sesion</a></li>

						</ul>

        </div>

			<!--modal para el "tweet"-->
					<div class="six columns">

								<ul>
									{% for item in posts%}
									<li>


									{{item.contenido}}
									{{item.fecha}}
									{{item.usuario}}
									{%endfor%}
								</li>
								</ul>


    			</div>
			</div>
			<!--fin modal para el "tweet"-->


		{% endif %}

	{%block contenido%}{%endblock%}



	<script src="{{STATIC_URL}}jquery.js"></script>
  <script src="{{STATIC_URL}}foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>


	<footer>
		Univalle Sede Tuluá
	</footer>
</body>
</html>
