<!DOCTYPE html>
<html class="no-js" lang="es">
<head>

	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Blog | {{title}}</title>

	<link rel="stylesheet" href="{{STATIC_URL}}skeleton.css">

	<link rel="stylesheet" href="{{STATIC_URL}}base.css">

</head>

<body>


	{% if not user.is_authenticated %}


		<div class="container">

				<div class="eight columns">

					<h2>MicroBlog</h2>


						<h4>Login</h4>

						<form action="{% url 'usuarios:login' %}" method="POST">{%csrf_token%}
								<ul>


								{{ auth_form.as_ul }}

								<input class="button" type="submit" name="" value="Ingresar" placeholder="">

							</ul>
						</form>

				</div>

				<div class="four columns">

					<h4>Registro</h4>

					<form action="{% url 'usuarios:registro' %}" method="post" accept-charset="utf-8"> {% csrf_token %}
							<ul>


							{{reg_form.as_ul}}

							<input class="button" type="submit" name="" value="Registrar" placeholder="">
							</ul>
					</form>

				</div>

		</div>

	{% else %}

		<div class="container">

    		<div class="seven columns">

						<h3>MicroBlog</h3>

						<ul>

								<li>

									<h6>Publicar Algo</h6>

										<form action="{% url 'posts:savepost' %}" method="post" accept-charset="utf-8">{% csrf_token %}

												<input id="id_contenido" name="contenido" type="text" class="form-control status-box" placeholder="Que pasa por tu mente?" >

												<input class="button radius right tiny tuit" type="submit" name="" value="Publicar" placeholder="">

										</form>

								</li>


								<li> 	<a href=""> </i>Inicio	</a>	</li>

								<li>	<a href="#"><strong>{{user.first_name}} {{user.last_name}} ({{user.username}})</strong></a></li>

								<li>	<a href="{% url 'usuarios:logout' %}" title="logout">Cerrar Sesion</a></li>

								<li>	Universidad del Valle sede Tulua </li>

								<li>	<a href="https://github.com/Ingeniux/taller-django">	<img src="{{STATIC_URL}}GitHub-Mark-32px.png"/>	</li>

						</ul>

        </div>

				<div class="six columns">

								<ul>
									{% for item in posts%}
									<li>


									{{item.contenido}}
									{{item.fecha}}
									{{item.usuario}}
									{%endfor%}
								</li>
								</ul>


    			</div>
				</div>



		{% endif %}

	{%block contenido%}{%endblock%}

</body>
</html>
